.about-page{
    height: auto;
    background-color: #182B4B;
    color: white;
    padding: 30px;
    

}
.about-page h2{
    text-align: center;
    padding: 20px;
}
.service img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    margin: 10px;
}
.service{
    display: flex;
    text-align: left;
    align-items: center;
    width: 90%;
    justify-content: space-around;
    margin: 0 auto;
}
.about-page p{
    text-align: left;
}
 h3{
    color: #20d7f3;
}
.why{
    display: flex;
    padding: 20px;
    margin: 20px auto;
    width: 90%;
}
.why img{
    width: 400px;
    border-radius: 10px;
    margin: 20px;
}
@media (max-width: 768px){
    .about-page{
        text-align: center;
    }
    
    .service{
        display: flex;
        flex-wrap: wrap;
       
        
    }
    .why{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }
    .why img{
        width: auto;
       
    }
}